#title h1{
	line-height: 80px;
	margin-bottom: 0px;
	font-weight: 600;
}

#news{
	background: rgba(0, 0, 0, 0.1);
}
#news .col-md-8{
	margin-top: 80px;
	margin-bottom: 80px;
}
#news .card-body {
    padding: 20px 52px;
}
#news img{
	width: 100%;
	border-radius: 10px;
	margin: 10px 0px;
}
#news h3{
	font-size: 40px;
    font-weight: 600;
    margin: 14px 0px;
}
#news h5{
	font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}
#news span{
	font-size: 14px;
}
#news p{
	margin: 16px 0px;
}