*{
	font-size: 30px;
}

.a{
	color: red;
}

.b{
	color: white;
	transition-property: color;
	transition-duration: 400ms;
}
.b:active{
	color: black;
}

.d{
	color: white;
	transition-property: color;
	transition-duration: 0.6s;
}
.d:hover{
	color: skyblue;
}

.e{
	font-size: 30px;
	transition-property: font-size;
	transition-duration: 0.6s;
}
.e:hover{
	font-size: 40px;	
}

.f{
	border: 0px;
}
.f:hover{
	border: 5px yellow solid;
}